<div id="container" class="container p-5 my-5">
  <div class="form-group">
    <label style="display: block;" for="name">Name</label>
    <input style='width: 70%;' type="text" [(ngModel)]="Name" class="form-control" id="name" placeholder="Enter Employee Name">
  </div>
  <div class="form-group">
    <label style="display: block;" for="dept">Department</label>
    <input style='width: 70%;' type="text" [(ngModel)]="Department" id="dept" class="form-control" placeholder="Enter Employee Department">
  </div>
  <button id="submit" type="button" (click)="AddEmployee()" class="btn btn-primary">Add Employee</button>
</div>
