<div *ngIf="!isAdding && !isEditing" class="container-fluid mt-3">
  <div class="table-responsive">
      <table style="text-align: center;" class="table mt-5">
          <thead>
              <th *ngFor="let header of HeadersList">{{ header }}</th>
              <th colspan="2">Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let employee of EmployeesList">
              <td>{{ employee.employee_id }}</td>
              <td>{{ employee.name }}</td>
              <td>{{ employee.department_name }}</td>
              <td><button (click)="EditEmployee(employee.employee_id)" class="btn btn-success">Edit</button></td>
              <td><button (click)="DeleteEmployee(employee.employee_id)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
      </table>
      <div class="pagination justify-content-center">
          <ul id="pages-list" class="pagination justify-content-center">
              <li id="prev" class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
              <li id="next" class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
          </ul>
          <select id="page-size" style="width: auto; height: 39px;" class="form-select form-select-sm ms-2">
              <option selected>5</option>
              <option selected>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
          </select>
      </div>
      <div>
        <button (click)="AddEmployee()" style="width: 100%;" class="btn btn-primary">Add Employee</button>
      </div>
  </div>
</div>
<div *ngIf="isAdding" class="adding">\
  <app-create-employee [isAdding]="isAdding"></app-create-employee>
</div>
<div *ngIf="isEditing" class="editing">
  <app-edit-employee [isEditing]="isEditing" [Id]="selectedEmployee"></app-edit-employee>
</div>
